<table>


	<tr>
		<td>عناون المبادرة</td>
		<td><%= f.text_field(:title)%></td>
	</tr>
	<tr>
		<td>تفاصيل المبادرة</td>
		<td><%= f.text_area(:description)%></td>
	</tr>
	<tr>
		<td>المنطقة المبادرة</td>
		<td>
			<%= select_tag(:region, options_for_select([['أبو ظبي', 1], ['دبي', 2], ['الشارقة', 3], ['عجمان', 4], ['أم القيوين', 5], ['رأس الخيمة', 6], ['الفجيرة', 7]], selected: :region )) %>
		</td>
	</tr>

	<tr>
		<td>صورة</td>
		<td><%= f.text_field(:img)%></td>
	</tr>
	

</table>
