<html lang="ar" dir="rtl">


<script src="jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#createInitiative").hide();
  		$("button").click(function(){
    	$("#sectors").hide();
    	$("#createInitiative").show();
        });
  	});


	function clicked(item) {
    	var sectorId=$(item).attr("id");
    	var sectorName=$(item).attr("sectorname");
    	var sectorDesc=$(item).attr("sectordesc");
    	// alert(sectorName);
    	// alert(if sectorDesc == Array);
    	// alert(sectorName.type);

    	$("#sectorName").html(sectorName);
    	$("#sectorDesc").html(sectorDesc);

    	$("#form").append("<input id='hidden' type='hidden' name='sectorID' value="+sectorId+" >"); 
   	}
</script>

<div id="sectors">

	<% @sectors.each do |sector| %>
		<button onclick="clicked(this);" id=<%=sector.id%> sectorname=<%=sector.sectorname%> sectordesc=<%= sector.description%> ><%=sector.sectorname%> </button>
		<%= sector.description%><br>
	<%end %>

</div>
<div id="createInitiative">
	<form id="form" method="post" action="create">
		<table>
			<tr>
				<td><span>القطاع</span></td>
				<td><span id="sectorName">الهوية</span>
				<br><span id="sectorDesc">الهوية</span></td>

			</tr>
			<tr>
				<td><span>عنوان المبادرة</span></td>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<td><span>تفاصيل المبادرة</span></td>
				<td><textarea name="description"></textarea></td>
			</tr>
			<tr>
				<td><span>المنطقة المبادرة</span></td>
				<td>
					<select name="region">
						<option value="أبو ظبي">أبو ظبي</option>
						<option value="الشارقة">الشارقة</option>
						<option value="عجمان">عجمان</option>
						<option value="أم القيوين">أم القيوين</option>
						<option value="دبي">دبي</option>
						<option value="الفجيرة">الفجيرة</option>
						<option value="رأس الخيمة">رأس الخيمة</option>

					</select>
				</td>
			</tr>
			<tr>
				<td><span>تصنيفات</span></td>
				<td><input type="text" name="tag_list"></td>
			</tr>
			<tr>
				<td><td rowspan=4 colspan=4 ><input type="file" name="img"></td>
			</tr>
						<tr>
				<td colspan=2><input type="submit" value="استمرار"></td>
			</tr>
		</table>
	</form>
</div>

<%= link_to("عمل تصويت", { :controller => 'polls', :action => 'new'})%>
