<html lang="ar" dir="rtl">

<h2>إنشاء مبادرة</h2>


	<%= form_for(:initiative, :url => {:action => 'create'}) do |i| %>

		<!-- <%= render(:partial => "form", :locals => {:f => i}) %> -->
		
		
		<table>

		<tr>
			<td>مبادرة بقطاع</td>
			<td><%= @sector_name%> <br> <%= @sector_description %> </td>

		</tr>	
		<tr>
			<td>عناون المبادرة</td>
			<td><%= i.text_field(:title)%></td>
		</tr>
		<tr>
			<td>تفاصيل المبادرة</td>
			<td><%= i.text_area(:description)%></td>
		</tr>
		<tr>
			<td>المنطقة المبادرة</td>
			<td><%= i.select(:region, options_for_select([['أبو ظبي'], ['دبي'], ['الشارقة'], ['عجمان'], ['أم القيوين'], ['رأس الخيمة']])) %></td>
		</tr>

		<tr>
			<td>صورة</td>
			<td><%= i.text_field(:img)%></td>
		</tr>
		

		<tr>
			<td>القطاع</td>
			<td><%= i.hidden_field :sector_id, :value => @sector_id%></td>
			<!-- <td><%= i.number_field :sector_id, :value => @sector_id%></td> -->

		</tr>
		<br>
		
		<tr>
			<td>تصنيفات</td>
			<td>التصنيفات</td>
		</tr>
		<tr>
			<td><%= submit_tag("إستمرار")%></td>	
		</tr>
		


	</table>


	<%end%>
</html>
