<html lang="ar" dir="rtl">


القطاع: <%= link_to(@sector.sectorname) %>
<br>
إسم المبادرة: <%= @initiative.title %>
<br>
وصف المبادرة: <%= @initiative.description%>
<br>
بإمارة: <%= link_to(@initiative.region, {:controller => 'initiatives' ,:action => "list", :searchRegion => @initiative.region})%>


<br>
<br>
<div>
<% @polls.each do |poll|%>
<%= poll.name %>


	<% for question in poll.questions %>
		<ol>
		<li><%= question.content%></li>
			<ul>	
			<form method="post" action="create">
			<%for answer in question.answers %>
					
						<input type="radio" name="ans" value= "<%=answer.id%>"><%=answer.content%>
				<br>
				<%end%>
						<input type="submit" value="صوت">

			</form>


			</ul>
		</ol>
	<%end%>
	

<%end%>

</p>


</div>



<br>
<div>
التعليقات
<br>

<form method="Post">
	<textarea name="content"></textarea><br>
	<input type="submit" value="ارسل">
</form>

<%@comments.each do |comment|%>
<div>
	<span><%=comment.content%></span>
	<span><%=comment.created_at%></span>
</div>
<%end%>
<div>