<html lang="ar" dir="rtl">


	<table>
		<tr>
		<th>القسم</th>
		<th>الوصف</th>
		</tr>

		<% @sectors.each do |sector|%>
		<tr>
			<td><%= link_to(sector.sectorname, {:controller => 'initiatives', :action => 'new', :id => sector.id, :sectorname => sector.sectorname, :desc => sector.description})  %></td>
			<td><%= sector.description %></td>
		</tr>

		<%end%>
	</table>

</html>



