<%= form_for(@poll) do |f| %>
  
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= @var %>

  <div class="field">
    <%= f.label :name ,"إسم التصويت" %><br />
    <%= f.text_field :name %>
    <%= f.hidden_field :initiative_id, :value => @initiative_id%>
  </div>

  <div>
    <%= f.fields_for :questions do |builder|%>
      <%= render 'questions_fields', :f => builder%> 
    <%end%>  
  </div>
  




  <div class="actions">
    <%= f.submit "تسجيل الأسئلة" %>
  </div>

<% end %>
