<br>
<br>
<%= f.label :content, "سؤال:"%><br>
<%= f.text_area :content, :rows => 2%><br>
<%= f.label :_destroy, "حذف السؤال:"%>
<%= f.check_box :_destroy%>

<%= f.fields_for :answers do |builder|%>
	<%= render 'answers_fields', :f => builder%>
<%end%>
