<html lang="ar" dir="rtl">
<h1>عرض كل الأسئلة</h1>

<table>
  <tr>
    <th>اسم التصويت</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%= poll.name %></td>
    <td><%= link_to 'عرض', poll %></td>
    <td><%= link_to 'تعديل', edit_poll_path(poll) %></td>
    <td><%= link_to 'إزالة', poll, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'عمل تصويت جديد', new_poll_path %>
</html>