<html lang="ar" dir="rtl">
<p>
  <b>إسم التصويت:</b>
  <%= @poll.name %>
</p>
<p>
	<% for question in @poll.questions %>
	<ol>
	<li><%= question.content%></li>
		<ul>
			<%for answer in question.answers %>
				<li><%=answer.content%></li>
			<%end%>
		</ul>
	</ol>
	<%end%>
</p>


<%= link_to 'تعديل', edit_poll_path(@poll) %> |
<%= link_to 'عودة', polls_path %>
</html>